body {
	background: lightblue;
}
#holla {
	min-height: 450px;
	background-image: url(images/Lighthouse.jpg);
	background-size: cover;
	margin-top: 55px;
	background-position: center;
	background-repeat: no-repeat;
}
.showcase {
	min-height: 450px;
}